.image-upload-heading {
        margin: 5px 50px;
        font-size: 4rem;
        text-align: center;
    }

.image-upload-form{
        width: 40%;
        margin: 50px auto;
}

.preview-img{
        margin: 10px auto;
        width: 200px;
}

input[type='file']{
        font-family: 'Montserrat'
}

.image-upload-form .error{
        text-align: center;
}