.image-upload-heading {
        margin: 5px 50px;
        font-size: 4rem;
        text-align: center;
    }

.image-upload-form{
        width: 40%;
        margin: 50px auto;
}

.image-upload-para{
        text-align: center;
        font-family: 'Darumadrop One', cursive;
        font-style: italic;
}

.preview-img{
        margin: 10px auto;

}