body {
    background: #e4f6ff;
    background: radial-gradient(
        circle,
        #e4f6ff 0%,
        #ff7e7e 100%
    );
    padding: 0;
}

img {
    max-height: 225px;
    max-width: 310px;
    display: flex;
    border-radius: 25px;
    margin: 0 auto;
}

.petName-lg,
.petName-sm {
    text-align: center;
}

.card {
    width: 340px;
    height: 445px;
    border: 3px solid black;
    border-radius: 15px;
    background: rgb(233,233,233);
    background: linear-gradient(321deg, rgba(233,233,233,1) 0%, rgba(242,144,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  0 auto;
    transform:scale(90%);
    position: relative;
    bottom: 20px;
} 

.card:hover{
    transform: scale(91%);
    box-shadow: 6px 6px 5px rgb(29, 28, 28) ;
}



@media (min-width: 476px) {
    .petName-sm {
        display: none;
    }
}

@media (max-width: 475px) {
    .card {
        width: 90%;
        transform: scale(87%);
    }
    img {
        max-width: 95%;
        max-height: 40%;
    }
    .petName-lg {
        display: none;
    }
}

.swipe-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 40px;
}

.heart-button {
    background: #fd8989;
    margin: 5px 50px;
    border-radius: 9999px;
    padding: 10px;
    color: rgb(150, 250, 150);
}

.sad-face-button {
    margin: 5px 50px;
    border-radius: 9999px;
    padding: 10px;
    background: rgb(245, 222, 119);
    color: rgb(0, 0, 0);
}

h1 {
    font-family: "Darumadrop One", cursive;
    font-size: 2.7rem;
}

.good-with-info {
    font-size: 1.4rem;
}

.back-info, .contact{
  width: 80%;
  line-height: 20px;
}

.back-info p {
    display: block;
}

#sidebar{
    width: 0;
    position: absolute;
    left: 0;
    top: 65px;
    height: calc(95vh - 34px + 115px - 40px);
    border: 1px dotted rgb(255, 2, 242);
    border-style: dotted dotted dotted none;
    background: rgb(228,246,255);
    background: radial-gradient(circle, rgba(228,246,255,1) 0%, rgba(255,126,126,1) 90%);
    opacity: 0;
    z-index: 1;
    border-radius: 0 5px 5px 0;
    padding-bottom: 0;
}

#sidebar:hover{
    transform: scale(101%);
    box-shadow: 6px 6px 5px rgb(29, 28, 28) ;
}

.sidebar-heading{
    text-align: center;
    color: rgb(0, 0, 0);
}

.sidebar-form{
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.good-with-label{
    margin-bottom: 20px;
}

.filter-button{
    position: absolute!important;
    top: 70px;
    left: 5px;
    background: #e093ff;
    z-index: 1;
}

@media(max-width: 600px){
    .filter-button{
        left: 5px;
        top: 70px;
    }
    .card{
        margin-top: 20px;
    }
}

.not-logged-in-message{
    text-align: center;
    margin: 5px auto;
}

.footer{
    width: 100%;
    position: absolute;
    bottom: -115px;
    left: 0;
    margin: 0;
    height: 40px;
    text-align: center;
    background: rgb(228,246,255);
    background: linear-gradient(-2deg, rgba(228,246,255,1) 0%, rgba(230,126,255,1) 80%);
    padding-top: 8px;
    text-align: right;
    padding-right: 20px;
}

a{
    color: black;
}