body {
    background: #e4f6ff;
    background: radial-gradient(
        circle,
        #e4f6ff 0%,
        #ff7e7e 100%
    );
}

img {
    max-height: 225px;
    max-width: 310px;
    display: flex;
    border-radius: 25px;
    padding: 10px;
    margin: 0 auto;
}

.petName-lg,
.petName-sm {
    text-align: center;
}

.card {
    width: 340px;
    height: 445px;
    border: 3px solid black;
    border-radius: 15px;
    background: rgb(233,233,233);
    background: linear-gradient(321deg, rgba(233,233,233,1) 0%, rgba(242,144,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  0 auto;
    transform:scale(90%);
} 

.card:hover{
    transform: scale(91%);
    box-shadow: 6px 6px 5px rgb(29, 28, 28) ;
}



@media (min-width: 476px) {
    .petName-sm {
        display: none;
    }
}

@media (max-width: 475px) {
    .card {
        width: 90%;
    }
    img {
        max-width: 95%;
        max-height: 40%;
    }
    .petName-lg {
        display: none;
    }
}

.swipe-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 20px;
}

.heart-button {
    background: #fd8989;
    margin: 5px 50px;
    border-radius: 9999px;
    padding: 10px;
    color: rgb(150, 250, 150);
}

.sad-face-button {
    margin: 5px 50px;
    border-radius: 9999px;
    padding: 10px;
    background: rgb(245, 222, 119);
    color: rgb(0, 0, 0);
}

h1 {
    font-family: "Darumadrop One", cursive;
    font-size: 2.7rem;
}

.good-with-info {
    font-size: 1.4rem;
}

.back-info, .contact{
  width: 80%;
  line-height: 20px;
}

.back-info p {
    display: block;
}

#sidebar{
    width: 0;
    position: absolute;
    left: 0;
    top: 65px;
    height: 95vh;
    border: 1px dotted rgb(255, 2, 242);
    border-style: none dotted dotted none;
    /* background: rgb(255,65,139);
    background: linear-gradient(195deg, rgba(255,65,139,1) 0%, rgba(251,157,251,1) 74%); */
    background: rgb(228,246,255);
    background: radial-gradient(circle, rgba(228,246,255,1) 0%, rgba(255,126,126,1) 90%);
    opacity: 0;
    z-index: 1;
    border-radius: 0 5px 5px 0;
}

.sidebar-heading{
    text-align: center;
    color: rgb(61, 61, 61);
}

.sidebar-form{
    text-align: center;
}