.upload-heading{
        margin: 5px 50px;
        font-size: 4rem;
        text-align: center;
}

.upload-form{
        margin: 50px auto;
        width: 40%;
}

@media(max-width: 600px){
        .upload-form{
                width: 80%;
        }
}

.radio-group{
        text-align: center;
}

.radios-2{      
        opacity: 90%;
}

hr{
        border: 1px solid rgb(0, 0, 0);
        border-style: solid none none none
}