#signup-heading {
    margin: 5px 50px;
    font-size: 4rem;
    text-align: center;
    opacity: 1;
}

.signup-form {
    width: 40%;
    margin: 0 auto;
}

@media(max-width: 425px){
        .signup-form{
                width: 70%;
        }
        #signup-heading{
                font-size: 2.5rem;
        }
}

.signup-form input {
    padding: 10px;
}


.testColor {
    color: #e093ff;
}
