#signup-heading {
    margin: 5px 50px;
    font-size: 4rem;
    text-align: center;
    opacity: 1;
}

.signup-form {
    width: 40%;
    margin: 0 auto;
}

.error{
    color: red;
    font-size: .8rem;
    margin-left: 10px;
}

@media(max-width: 425px){
        .signup-form{
                width: 70%;
        }
        #signup-heading{
                font-size: 2.5rem;
        }
}

.signup-form input {
    padding: 10px;
}

.signup-form h2{
    position: fixed;
    color: green;
    font-size: 5rem;
    opacity: 0;
    right: 40%;
    transform: rotate(15deg);
}

.testColor {
    color: #e093ff;
}
