img{
  max-height: 390px;
  max-width: 470px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 15px;
}

.petName{
  text-align: center;
}

.card{
  margin: 10px auto;
  width: 40%;
  height: 400px;
  border: 3px solid black;
  border-radius: 15px;
  background: #ff9c9c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swipe-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.heart-button{
  background: #fd8989;
  margin: 10px 50px;
  border-radius: 9999px;
  padding: 10px;
  color: rgb(150, 250, 150);
}

.heart-button:hover{
  background: rgb(150, 250, 150);
}

.sad-face-button{
  background: #e4c829;
  margin: 5px 50px;
  border-radius: 9999px;
  padding: 10px;
  color: rgb(0, 0, 0);
}

.sad-face-button:hover{
  background: rgb(196, 182, 182);
}