.display-wrapper {
    text-align: center;
}

.pet-display {
    width: 800px;
    height: 500px;
    margin: 10px auto;
    display: grid;
    gap: 0;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(9, 1fr);
    background: rgb(217, 215, 215);
    background: linear-gradient(
        321deg,
        rgba(217, 215, 215, 1) 0%,
        rgba(255, 112, 255, 1) 100%
    );
    border-radius: 30px;
    font-family: montserrat;
    font-weight: bold;
}

.grid-item {
    border: 1px solid black;
}

.pet-display-image {
    grid-column: 1 / 5;
    grid-row: 1 / 10;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px 0 0 0;
}

.pet-display-breed {
    grid-column: 1 / 3;
    grid-row: 10 / 13;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.pet-display-age {
    grid-column: 1 / 3;
    grid-row: 13 / 16;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.pet-display-goodwith {
    grid-column: 3 /5;
    grid-row: 10 /16;
    padding: 25px 15px;
}

.pet-display-description {
    grid-column: 1/10;
    grid-row: 16 / 19;
    border-radius: 0 0 30px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.pet-display-contact {
    grid-column: 5 / 10;
    grid-row: 1 / 16;
    font-size: 1.4rem;
    border-radius: 0 30px 0 0;
}

.pet-display-contact p {
    text-align: center;
    font-family: montserrat;
    display: block;
}

h2 {
    font-size: 2.4rem;
    font-weight: 700;
    font-family: montserrat;
    margin-bottom: 40px;
    margin-top: 10px;
}

hr {
    width: 10%;
    border-width: 8px;
    border-style: dotted none none none;
    margin: 20px auto;
}
