.display-wrapper {
    text-align: center;
}

.pet-display {
    max-width: 90%;
    width: 800px;
    height: auto;
    margin: 10px auto;
    display: grid;
    gap: 0;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(9, 1fr);
    background: rgb(217, 215, 215);
    background: linear-gradient(
        321deg,
        rgba(217, 215, 215, 1) 0%,
        rgba(255, 112, 255, 1) 100%
    );
    border-radius: 30px;
    font-family: montserrat;
    font-weight: bold;
    border: 1px solid black;
}

.grid-item {
    height: auto;
    border: 1px solid black;
}

.pet-display-image {
    grid-column: 1 / 5;
    grid-row: 1 / 5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px 0 0 0;
}

.pet-display-image img {
    max-height: unset;
    max-width: 90%;
    height: 90%;
}

.pet-display-breed {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

.pet-display-age {
    grid-column: 1 / 3;
    grid-row: 6 / 7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

.pet-display-sex {
    grid-column: 1 /3;
    grid-row: 7 / 8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

.pet-display-goodwith {
    grid-column: 3 /5;
    grid-row: 5 / 8;
    padding: 25px 15px;
}

.pet-display-description {
    grid-column: 1/10;
    grid-row: 8 / 10;
    border-radius: 0 0 30px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.pet-display-contact {
    grid-column: 5 / 10;
    grid-row: 1 / 8;
    font-size: 1.4rem;
    border-radius: 0 30px 0 0;
}

.pet-display-contact p {
    text-align: left;
    margin-left: 30px;
    font-family: montserrat;
    display: block;
    overflow-x: auto;
}

h2 {
    font-size: 2.4rem;
    font-weight: 700;
    font-family: montserrat;
    margin-bottom: 50px;
    margin-top: 10px;
}

hr {
    width: 90%;
    margin: 20px auto;
}

/* Mobile */

.mobile-heading {
    text-align: center;
}

.mobile-image {
    width: 70%;
    display: block;
    margin: 5px auto;
}

.mobile-good-with-heading {
    text-align: center;
    margin-bottom: 0;
}

.mobile-good-with-icons {
    width: 50%;
    display: block;
    margin: 20px auto;
    text-align: center;
}

.mobile-info {
    width: 300px;
    text-align: center;
    margin: 0 auto;
}



.mobile-display-wrapper {
    padding: 20px;
}

.mobile-contact {
    text-align: center;
    line-height: 1;
}

.mobile-contact h2 {
    margin-bottom: 20px;
}